{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
	<style>
		body {background: #f4f4f4}

	</style>
	</head>
	<body>
		<nav class="navbar navbar-light" style="background-color: #e3f2fd;" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{% url 'home' %}">Pollster Maker</a>
				</div>


				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						<li><a href="{% url 'home' %}">Home</a></li>
						<li><a href="{% url 'create' %}">Create</a></li>
						{% if user.is_authenticated %}
							<li><a href="{% url 'my-polls' %}">My Polls</a></li>
							<li><a href="{% url 'logout' %}">Logout from {{user}}</a></li>
						{% else %}
							<li><a href="{% url 'login' %}">Login</a></li>
							<li><a href="{% url 'register' %}">Register</a></li>
						{% endif %}
					</ul>
					<form class="d-flex" role="search" method=POST action="{% url 'search-polls' %}">
						{% csrf_token %}
        				<input class="form-control me-2" type="search" placeholder="Search Polls" aria-label="Search" name="searched">
						<br/>
					  <div>
						  <center>
						  	<button class="btn btn-info" type="submit">Search</button>
						  </center>
						  <br>
					  </div>
      				</form>
				</div>
			</div>
		</nav>
		<div class="container">
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-warning" role="alert">
					  		{{message}}
					</div>
				{% endfor %}
			{% endif %}
			{% block main %}{% endblock %}
		</div>

	</body>
</html>