{% extends "polls/base.html" %}

{% block title %}Pollster Maker{% endblock %}

{% block main %}
    <h1>Login</h1>
<br/>
    <form action="" method=POST>
        {% csrf_token %}
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
          </div>
        <br>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
          </div>
        <br>
          <button type="submit" class="btn btn-info">Login</button>
    </form>
<br/><br/>
{% endblock %}